body {
    max-width: 100%;
}

.store {
    margin: 20px 0;

    .bv {
        align-items: center;
        display: flex;
        gap: 1rem;
        text-align: center;

        span {
            font-size: x-large;
        }
    }

    .bv::before,
    .bv::after {
        background-color: black;
        content: "";
        flex: 1;
        height: 3px;
    }

    .banner {
        height: 30vw;
        margin: 40px auto;
        object-fit: cover;
        width: 100%;
    }

    .cookies {
        margin: auto;
        margin-top: 100px;
        padding: 20px;
        width: 85vw;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;

        .title {
            background-color: rgb(223, 223, 223);
            font-weight: bolder;
            margin-top: 10px;
            padding: 10px;
            text-align: center;
            width: 100%;
        }

        li {
            align-items: center;
            justify-content: center;
            background-color: rgb(204, 204, 204);
            border: 3px solid rgb(117, 117, 117);
            border-radius: 40px;
            display: flex;
            flex-direction: row;
            max-height: 800px;
            list-style-type: none;
            max-width: 500px;
            padding: 40px;

            .text {
                padding: 20px;
            }

            .cookietext {
                .cookie {
                    transition: all 1s;
                    width: 150px;
                }

                .cookie:hover {
                    rotate: 5deg;
                    scale: 1.05;
                }
            }
        }

        .buttons {
            display: flex;
            flex-direction: row;

            img {
                margin: 0 10px;
                object-fit: contain;
                transition: all 1s;
                width: 30px;
            }

            img:hover {
                scale: 1.25;
            }

            i {
                height: fit-content;
                margin: auto;
                padding: 10px;
                transition: all 1s;
            }

            i:hover {
                color: rgb(68, 68, 68);
                scale: 1.25;
            }

            i::before {
                display: block;
                justify-content: center;
            }
        }
    }

    .rest {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 20px;
        width: fit-content;

        button {
            background-color: red;
            border: 1px black solid;
            border-radius: 100%;
            color: white;
            height: 50px;
            padding: 10px;
            transition: all 1s;
            width: 50px;

            hover {
                background-color: rgb(230, 0, 0);
                scale: 1.25;
            }
        }

        p {
            font-size: large;
        }
    }

    .comp {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 20px;
        width: fit-content;

        button {
            background-color: rgb(0, 173, 0);
            border: 1px black solid;
            border-radius: 10px;
            color: white;
            height: 50px;
            padding: 10px;
            transition: all 1s;
            width: 100px;

            hover {
                background-color: rgb(0, 134, 0);
                scale: 1.25;
            }
        }

        p {
            font-size: large;
        }
    }
}

.page404 {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: auto;
    h1,
    p {
        text-align: center;
    }
    img {
        display: flex;
        margin: auto;
        height: 200px;
        object-fit: contain;
    }
}

.galeria {
    height: fit-content;
    p {
        margin: 0;
    }
    a {
        text-decoration: none;
    }
    .linkpro {
        width: fit-content;
        display: flex;
        margin: 20px auto;
        padding: 20px;
        border-radius: 10px;
        font-size: 35px;
        background-color: rgb(255, 226, 147);
        color: black;
        box-shadow: 0 0 20px rgb(175, 175, 175);
        transition: all 1s;
    }

    .linkpro:hover {
        scale: 1.2;
        box-shadow: 0 0 20px rgb(92, 92, 92);
    }
}

.formbor {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    form {
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(255, 233, 199);
        display: flex;
        flex-direction: column;
        width: 25vw;
        box-shadow: 0 0 40px rgb(175, 175, 175);
        input {
            border-radius: 4px;
            margin: 2px 0;
        }
    }
}

.home {
    .banner {
        display: flex;
        flex-direction: column;
        p {
            font-size: x-large;
            margin-top: 30px;
            text-align: center;
        }
        img {
            object-fit: cover;
            width: 95vw;
            height: 30vh;
            border-radius: 40px;
            margin: 30px auto;
            box-shadow: 0 0 10px gray;
        }
    }
    .ckdis {
        margin: 10px;
        a {
            margin: 40px 0;
            text-decoration: none;
            color: black;
            .ckdes {
                display: flex;
                flex-direction: column;
                img {
                    object-fit: contain;
                    height: 150px;
                    margin: 10px;
                }
                p {
                    margin: auto;
                    padding: 5px;
                    border-radius: 5px;
                    box-shadow: 0 0 10px gray;
                    background-color: rgb(255, 214, 143);
                    width: fit-content;
                }
            }
            p {
                background-color: rgb(255, 239, 210);
                width: 65vw;
                display: flex;
                margin: auto;
                border-radius: 30px;
                padding: 20px;
                box-shadow: 0 0 5px gray;
                text-align: center;
            }
        }
    }

    .linkpro {
        text-decoration: none;
        color: black;
        width: fit-content;
        display: flex;
        margin: 20px auto;
        padding: 20px;
        border-radius: 10px;
        font-size: 25px;
        background-color: rgb(255, 226, 147);
        box-shadow: 0 0 20px rgb(175, 175, 175);
        transition: all 1s;
    }

    .linkpro:hover {
        scale: 1.2;
        box-shadow: 0 0 20px rgb(92, 92, 92);
    }
}

.contbutton {
    position: fixed;
    right: 50px;
    bottom: 100px;
    padding: 25px;
    border-radius: 100%;
    background-color: rgb(101, 255, 101);
    img {
        height: 30px;
    }
}

@media screen and (max-width: 800px) {
    .store .cookies li .text {
        display: none;
    }
    .store .cookies li {
        margin: 20px;
    }
    .formbor form {
        width: 50vw;
    }
}

@media screen and (max-width: 600px) {
    .store .cookies {
        display: flex;
        flex-direction: column;
    }
    .contbutton {
        padding: 20px;
        right: 30px;
        img {
            height: 20px;
        }
    }
}
